footer {
    background-color: #222;
    color: #FFF;
    padding: 3em;
    text-align: center;
}

.footer__menu {
    list-style: none;
    display: flex;
    justify-content: center;
}

.footer__item {
    text-decoration: none;
    padding: 10px;
    font-size: 1.5em;
    
}

.footer__item:hover {
    color:#ffbb33 ;
    cursor: pointer;
}

.footer__span{
    font-weight: bold;
    color: #ffbb33;
}